form > button {
	width: 100%;
	margin-bottom: 1rem;
}

button {
	padding: 0.5rem;
	width: 6rem;
	border: 1px solid #ccc;
	cursor: pointer;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	padding: 1rem 2rem;
	border: 1px solid #ccc;
}

p {
	margin: 0;
}

div:has(> button) {
	margin-top: 1rem;
	text-align: center;
}
